@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Open+Sans&display=swap');

body {
background-image: linear-gradient( #fbc2eb 0%, #a6c1ee 100%);
background-attachment: fixed;
}
h1 {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 25px;
  font-family: 'Noto Sans TC', sans-serif;
}
p {
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}
#form {
  background-color: white;
  margin-left: 85px;
  margin-right: 85px;
  border-width: 6px;
  border-radius: 20px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
  
}
input {
position: center;
}